<div class="error-container">
  <div class="error-content">
    <h1 class="error-title">404</h1>
    <p class="error-message">Oops! La pagina che stai cercando non esiste.</p>
    <a class="home-link" routerLink="/home">Vai alla Home</a>
  </div>
  <div class="floating-question-marks">
    <span class="question-mark">?</span>
    <span class="question-mark">?</span>
    <span class="question-mark">?</span>
    <span class="question-mark">?</span>
    <span class="question-mark">?</span>
    <span class="question-mark">?</span>
    <span class="question-mark">?</span>
    <span class="question-mark">?</span>
    <span class="question-mark">?</span>
    <span class="question-mark">?</span>
  </div>
</div>
